.sheet-center {
  padding-right: 0px;
  text-align: center !important;
  justify-self: center;
  align-self: center;
}

.sheet-text-right {
  text-align: right;
}

.sheet-right {
  float: right;
}

.sheet-left {
  float: left;
}

.sheet-content {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sheet-flex {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center
}

.sheet-box-100 {
  position: relative;
  width: 100%
}

.sheet-box-inherited {
  width: inherit;
}
