.sheet-sheet {
  /* Colors */
  --sheet-bg-white: white;
  --sheet-bg-brown: #A1887F;
  --sheet-bg-light-brown: #D7CCC8;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    ". logo logo logo info info info info "
    "attributes attributes proficiency proficiency descriptions descriptions descriptions descriptions "
    "attributes attributes saving-throw saving-throw descriptions descriptions descriptions descriptions "
    "attributes attributes defense defense descriptions descriptions descriptions descriptions "
    "attributes attributes defense defense descriptions descriptions descriptions descriptions "
    "attributes attributes defense defense skills skills skills skills "
    "attributes attributes stamina stamina skills skills skills skills "
    "attributes attributes dice dice skills skills skills skills "
    "attributes attributes death-save-failure death-save-failure personality personality personality personality "
    "rucksack rucksack rucksack rucksack  personality personality personality personality "
    "tricks tricks tricks tricks spell-slots spell-slots spell-slots spell-slots "
    "tricks tricks tricks tricks spell spell spell spell ";

  grid-template-columns: 1fr repeat(5, minmax(100px, 1fr)) 4fr;
}


.sheet-input-proficiency {
    margin-left: -4px;
    margin-top: -8px;
    float: left;
    text-align: right;
    height: 140% !important;
    margin-bottom: 0px;
    border-radius: 50px;
    border-right: 1px solid black;
    width: 100%;
}

/* TODO: merge with sheet-attr */
.sheet-center {
    padding-right: 0px;
    text-align: center !important;
    justify-self: center;
    align-self: center;
}

.sheet-center-grid {
  justify-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.sheet-shield {
  border: 1px solid black;
  width: 70px;
  height: 75px;
  display: block;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sheet-inline-items {
  display: inline-flex;
}

.sheet-shield-title {
  text-align: center;
  border-bottom: 1px solid black;
  width: inherit;
}

.sheet-shield-title > label {
  margin-left: 0px
}

.sheet-input-disabled-transparent:disabled {
  background-color: transparent;
}

.sheet-input-line {
  border-right: none;
  border-left: none;
  border-top: none
}

.sheet-input-no-border {
  border: none;
  text-align: right;
  margin-left: 0px;
  margin-right: 0px;
}

.sheet-shield-mod {
  position: absolute;
  justify-content: center;
  text-align: center;
  display: flex;
  bottom: -10px; /* metade da altura */
  left: 0;
  height: 20px;
  width: 100%;
}

.sheet-shield-mod-input {
  text-align: right;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin-left: 9px;
  margin-top: -7px;
}

.sheet-logo {
  grid-area: logo;
}

.sheet-skills-table {
  width: 100%;
  display: inline-block;
  overflow-y: auto;
}

.sheet-skills-table td {
  padding: 1px;
}

.sheet-skills-table-head th{
  background-color: var(--sheet-bg-brown);
  color: var(--sheet-bg-white);
}

.sheet-weapons-table {
  width: 98%;
  height: 95%;
  display: inline-block;
  overflow-y: auto;
}

.sheet-weapons-table-description {
  color: var(--sheet-bg-white);
  background-color: var(--sheet-bg-brown);
  position: sticky;
  top: 0;
}

.sheet-weapons-table-description:first-child {
  border-top-left-radius: 10px;
}

.sheet-weapons-table-roll, .sheet-weapons-dice {
  width: 10%;
}

.sheet-weapons-table-dmg {
  width: 12%;
}

.sheet-rounded-border {
  border: 1px solid black;
  border-radius: 10px;
}

.sheet-textarea {
  padding-left: 13px;
  width: 100%;
  height: 88%;
  box-sizing: border-box;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-attachment: local;
  background-image:
  linear-gradient(to right, white 10px, transparent 10px),
  linear-gradient(to left, white 10px, transparent 10px),
  repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
}

.sheet-textarea-traits {
  height: 75%;
}

.sheet-textarea-skills {
  height: 79%;
}

.sheet-textarea-rucksack {
  height: 84%;
}

input {
  border: 1px solid black;
  margin: 0.1em;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  text-align: center
}

.sheet-input {
  max-width: 100%;
  float: right;
  clear: both;
}

.sheet-right {
  float: right;
}

.sheet-input-small {
  width: 30% !important;
}

.sheet-input-medium {
  width: 50%;
}

.sheet-input-top {
  margin-top: 5px;
}

.sheet-input-large {
  width: 70% !important;
}

.sheet-input-xlarge {
  width: 90%;
}

.sheet-spell {
  height: 330px;
  grid-area: spell;
}

.sheet-spell-slots {
  grid-area: spell-slots;
}

.sheet-tricks {
  grid-area: tricks;
  height: 450px;
  text-align: center;
}

.sheet-tricks > textarea {
  height: 88%;
}

.sheet-header {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}


.sheet-content {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sheet-rucksack {
  grid-area: rucksack;
}

.sheet-info {
  grid-area: info;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  float: right;
}

.sheet-personality {
  grid-area: personality;
}

.sheet-death-save-failure {
  grid-area: death-save-failure;
  text-align: center;
}

.sheet-skills {
  grid-area: skills;
  margin-top: -165px;
}

.sheet-stamina-dice {
  grid-area: dice;
}

.sheet-stamina-dice > label {
  float: left;
  width: 50%;
}

.sheet-stamina-points {
  grid-area: stamina;
}

.sheet-proficiency {
  grid-area: proficiency;
}
.sheet-attributes {
  grid-area: attributes;
}

.sheet-attributes > input {
  height: 80%;
}

.sheet-defense {
  grid-area: defense;
}

.sheet-saving-throw {
  grid-area: saving-throw;
}

.sheet-grid-1x3 {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 10em);
}

.sheet-grid-2x1 {
  display: grid;
  grid-template-columns: 1em 16em;
  grid-template-rows: 1fr;
}

.sheet-grid-4x6 {
  display: grid;
  grid-template-columns: 40px 30px 50px 70px;
  grid-template-rows: repeat(6, 1fr);
  margin-bottom: 5px;
  margin-top: 5px;
}

.sheet-grid-2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.sheet-grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
}

.sheet-grid-1x6 {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.sheet-descriptions {
  grid-area: descriptions;
  height: 53%;
}

.sheet-inline-checkboxes {
  display: inline-flex;
  margin-left: -20px;
}

.sheet-checkbox-container {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.sheet-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.sheet-checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.sheet-checkbox-container:first-of-type {
  padding-right: 50px;
}

.sheet-checkbox-container:last-of-type {
  padding-left: 50px;
}

/* On mouse-over, add a grey background color */
.sheet-checkbox-container:hover input ~ .sheet-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.sheet-checkbox-container input:checked ~ .sheet-checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.sheet-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.sheet-checkbox-container input:checked ~ .sheet-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.sheet-checkbox-container .sheet-checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
}

.sheet-text-small {
  font-size: 11px;
}

.sheet-d20-icon {
  background: var(--sheet-bg-white);
  font-family:'dicefontd20';
}


.sheet-rolltemplate-attack, .sheet-rolltemplate-basic, .sheet-rolltemplate-description{
  background-color: white;
}

.sheet-rolltemplate-attack p, .sheet-rolltemplate-attack h4, .sheet-rolltemplate-basic p, .sheet-rolltemplate-basic h4, .sheet-rolltemplate-description p, .sheet-rolltemplate-description h4{
  padding-left: 5px;
  padding-top: 5px;
}


.sheet-rolltemplate-attack .sheet-rollbox-container {
  width: 100%;
  border: 1px solid black;
}

.sheet-rolltemplate-basic .sheet-rollbox-container {
  width: 100%;
  border: 1px solid black;
}

.sheet-rolltemplate-description .sheet-rollbox-container{
  width: 100%;
  border: 1px solid black;
}

.sheet-rolltemplate-attack .sheet-rollbox-header {
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-basic .sheet-rollbox-header {
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-description .sheet-rollbox-header {
  border-bottom: 1px solid black;
}

.sheet-stripped tr:nth-child(even), .sheet-rolltemplate-attack .sheet-stripped p:nth-child(even) {
  background-color: var(--sheet-bg-light-brown);
}

.sheet-stripped tr:nth-child(odd), .sheet-rolltemplate-attack .sheet-stripped p:nth-child(odd) {
  background-color: var(--sheet-bg-white);
}
