.sheet-sheet {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    ". logo logo logo info info info info "
    "attributes attributes proficiency proficiency descriptions descriptions descriptions descriptions "
    "attributes attributes saving-throw saving-throw descriptions descriptions descriptions descriptions "
    "attributes attributes defense defense descriptions descriptions descriptions descriptions "
    "attributes attributes defense defense descriptions descriptions descriptions descriptions "
    "attributes attributes defense defense skills skills skills skills "
    "attributes attributes stamina stamina skills skills skills skills "
    "attributes attributes dice dice skills skills skills skills "
    "attributes attributes death-save-failure death-save-failure personality personality personality personality "
    "rucksack rucksack rucksack rucksack  personality personality personality personality "
    "tricks tricks tricks tricks spell-slots spell-slots spell-slots spell-slots "
    "tricks tricks tricks tricks spell spell spell spell ";

  grid-template-columns: 1fr repeat(5, minmax(100px, 1fr)) 4fr;
}

body {
  margin-bottom: 10px;
}

.sheet-input-proficiency {
    margin-left: -4px;
    margin-top: -8px;
    float: left;
    text-align: right;
    height: 140% !important;
    margin-bottom: 0px;
    border-radius: 50px;
    border-right: 1px solid black;
    width: 100%;
}

/* TODO: merge with sheet-attr */
.sheet-center {
    text-align: center !important;
}

.sheet-center-grid {
  justify-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.sheet-shield {
  border: 1px solid black;
  width: 70px;
  height: 75px;
  display: block;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sheet-shield-title {
  text-align: center;
  border-bottom: 1px solid black;
  width: inherit;
}

.sheet-shield-title > label {
  margin-left: 0px
}

.sheet-input-line {
  border-right: none;
  border-left: none;
  border-top: none
}

.sheet-input-no-border {
  border: none;
  text-align: right;
  margin-left: 0px;
  margin-right: 0px;
}

.sheet-shield-mod {
  position: absolute;
  justify-content: center;
  text-align: center;
  display: flex;
  bottom: -10px; /* metade da altura */
  left: 0;
  height: 20px;
  width: 100%;
}

.sheet-shield-mod-input {
  text-align: right;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin-left: 9px;
  margin-top: -7px;
}

.sheet-logo {
  grid-area: logo;
}

.sheet-weapons-table {
  table-layout: fixed;
  width: 98%;
  margin-left: 5px;
}

.sheet-rounded-border {
  border: 1px solid black;
  border-radius: 10px;
}

.sheet-textarea {
  width: 100%;
  height: 88%;
  box-sizing: border-box;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-attachment: local;
  background-image:
  linear-gradient(to right, white 10px, transparent 10px),
  linear-gradient(to left, white 10px, transparent 10px),
  repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
}

.sheet-textarea-traits {
  height: 75%;
}

.sheet-textarea-skills {
  height: 79%;
}

.sheet-textarea-rucksack {
  height: 84%;
}

input {
  border: 1px solid black;
  margin: 0.1em;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  text-align: center
}

.sheet-input {
  max-width: 100%;
  float: right;
  clear: both;
}

.sheet-right {
  float: right;
}

.sheet-input-small {
  width: 30%;

}

.sheet-input-large {
  width: 70%;
}

.sheet-input-xlarge {
  width: 90%;
}

.sheet-logo-image {
  width: 80%;
}

.sheet-sketch {
  grid-area: sketch;
}

.sheet-spell {
  height: 330px;
  grid-area: spell;
}

.sheet-spell-slots {
  grid-area: spell-slots;
}

.sheet-tricks {
  grid-area: tricks;
  height: 450px;
  text-align: center;
}

.sheet-tricks > textarea {
  height: 88%;
}

.sheet-content {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sheet-rucksack {
  grid-area: rucksack;
}

.sheet-info {
  grid-area: info;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  float: right;
}

.sheet-personality {
  grid-area: personality;
}

.sheet-death-save-failure {
  grid-area: death-save-failure;
  text-align: center;
}

.sheet-skills {
  grid-area: skills;
}

.sheet-stamina-dice {
  grid-area: dice;
}

.sheet-stamina-dice > label {
  float: left;
  width: 50%;
}

.sheet-stamina-points {
  grid-area: stamina;
}

.sheet-proficiency {
  grid-area: proficiency;
}
.sheet-attributes {
  grid-area: attributes;
}

.sheet-attributes > input {
  height: 80%;
}

.sheet-defense {
  grid-area: defense;
}

.sheet-saving-throw {
  grid-area: saving-throw;
}

.sheet-grid-1x3 {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 10em);
}

.sheet-grid-2x1 {
  display: grid;
  grid-template-columns: 1em 16em;
  grid-template-rows: 1fr;
}

.sheet-grid-3x6 {
  display: grid;
  grid-template-columns: 20px 100px 150px;
  grid-template-rows: repeat(6, 1fr);
}

.sheet-grid-2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.sheet-grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
}

.sheet-grid-1x6 {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.sheet-descriptions {
  grid-area: descriptions;
}

.sheet-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.sheet-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.sheet-checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.sheet-container:hover input ~ .sheet-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.sheet-container input:checked ~ .sheet-checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.sheet-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.sheet-container input:checked ~ .sheet-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.sheet-container .sheet-checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
}
