<div class="sheet-defense">
  <div class='sheet-grid-3x2'>
    <div class="sheet-center sheet-box">
      <div class="sheet-heraldic-shield">
        <input class="sheet-input-medium sheet-text-huge sheet-input-no-border sheet-input-transparent" type="text" name="attr_defense" />
      </div>
    </div>
    <div class="sheet-rounded-border sheet-box sheet-center">
      <input class="sheet-input-medium sheet-text-huge sheet-input-no-border sheet-input-transparent" type="text" name="attr_init" />
    </div>
    <div class="sheet-rounded-border sheet-box sheet-center">
      <input class="sheet-speed-value sheet-input-medium sheet-text-medium sheet-input-no-border sheet-input-transparent" type
      ="text" name="attr_speed_2_paws" />
      <div class="line"></div>
      <input class="sheet-speed-value sheet-input-medium sheet-text-medium sheet-input-no-border sheet-input-transparent" type
      ="text" name="attr_speed_4_paws" />
    </div>
    <label class="sheet-content sheet-center sheet-text-small">Defense </label>
    <div class="sheet-inline-items sheet-initiative">
      <button type="roll" class="sheet-d20-icon sheet-initiative-dice" value="&{template:basic} {{character=@{character_name}}}{{result=[[1d20+@{init}&{tracker}]]}}"></button>
      <label class="sheet-content sheet-center sheet-text-small">Initiative </label>
    </div>
    <label class="sheet-content sheet-center sheet-text-small">Speed </label>
  </div>
</div>
