<div class="sheet-info">
  <label class="sheet-content">
    Name:
  </label>
  <input class="sheet-input sheet-input-xlarge sheet-input-line" type="text" name="attr_character_name" />
  <label class="sheet-content">
    Calling:
  </label>
  <input class="sheet-input sheet-input-xlarge sheet-input-line" type="text" name="attr_calling" />
  <label class="sheet-content">
    Level and XP:
  </label>
  <div class="sheet-inline-items">
    <input class="sheet-input sheet-input-line" type="number" name="attr_level" />
    <input class="sheet-input sheet-input-line" type="number" name="attr_xp" />
  </div>
  <label class="sheet-content">
    Breed, House:
  </label>
  <input class="sheet-input sheet-input-xlarge sheet-input-line" type="text" name="attr_breed" />
  <label class="sheet-content">
    Family:
  </label>
  <input class="sheet-input sheet-input-xlarge sheet-input-line" type="text" name="attr_family" />
  <label class="sheet-content">
    Background:
  </label>
  <input class="sheet-input sheet-input-xlarge sheet-input-line" type="text" name="attr_background" />
</div>
