<div class="sheet-proficiency sheet-proficiency-element sheet-rounded-border">
  <div>
    <input class="sheet-left sheet-input-proficiency" type="number" name="attr_prof" />
  </div>
  <h4 >Proficiency Bonus</h4>
</div>
