<div class="sheet-skills sheet-rounded-border">
  <div class="sheet-table">
    <div class="sheet-table-header">
      <div class="sheet-table-col sheet-col-header-empty sheet-table-col-no-grow"></div>
      <div class="sheet-table-col sheet-col-header-empty sheet-table-col-no-grow"></div>
      <div class="sheet-table-col sheet-left">Skill</div>
      <div class="sheet-table-col sheet-center">Atribute Modifier</div>
      <div class="sheet-table-col sheet-col-header-empty sheet-table-col-no-grow"></div>
      <div class="sheet-table-col sheet-center sheet-col-header-empty sheet-table-col-no-grow"></div>
      <div class="sheet-table-col sheet-left">Skill</div>
      <div class="sheet-table-col sheet-center">Atribute Modifier</div>
    </div>
    <div class="sheet-stripped">
      [{# skills_list }]
      <div class="sheet-table-row">
        [{# . }]
          [{> skill }]
        [{/ . }]
      </div>
      [{/ skills_list }]
    </div>
  </div>
</div>
