<div class="sheet-skills sheet-rounded-border">
  <table class="sheet-skills-table sheet-stripped">
    <thead class="sheet-skills-table-head">
      <th></th>
      <th></th>
      <th>Skill</th>
      <th>Attribute Modifier</th>
      <th></th>
      <th></th>
      <th>Skill</th>
      <th>Attribute Modifier</th>
    </thead>
    <tbody>
      [{# skills_list }]
      <tr>
        [{# . }]
          [{> skill }]
        [{/ . }]
      </tr>
      [{/ skills_list }]
    </tbody>
  </table>
</div>
