<div class="sheet-stamina-dice sheet-rounded-border sheet-center">
  <label class="sheet-center sheet-header">Stamina Dice</label>
  <input class="sheet-input-huge sheet-text-medium" type="text" name="attr_stamina_dice" />
  <p class="sheet-center sheet-text-medium sheet-content">Total</p>
</div>
