<div class="sheet-tricks sheet-rounded-border">
  <h3 class="sheet-header sheet-center">
  Knacks - Tricks, Secrets, etc:
  </h3>
  <textarea class="sheet-textarea sheet-textarea-medium" name="attr_tricks"></textarea>
</div>
