<div class="sheet-descriptions sheet-rounded-border">
  <table class="sheet-weapons-table">
    <thead class="sheet-weapons-table-head">
      <th class="sheet-weapons-table-description"></th>
      <th class="sheet-center sheet-weapons-table-description">Attack</th>
      <th class="sheet-center sheet-weapons-table-roll sheet-weapons-table-description">Roll</th>
      <th class="sheet-center sheet-weapons-table-dmg sheet-weapons-table-description">DMG</th>
      <th class="sheet-center sheet-weapons-table-description">Type/Quality</th>
    </thead>
    [{# weapons }]
      [{> weapon }]
    [{/ weapons}]
  </table>
</div>
