<div class="sheet-descriptions sheet-rounded-border">
  <div class="sheet-table sheet-container-height-95">
    <div class="sheet-table-header">
      <div class="sheet-table-col-headers sheet-table-col-small"></div>
      <div class="sheet-table-col sheet-table-col-no-grow sheet-table-col-large sheet-center">Attack</div>
      <div class="sheet-table-col sheet-table-col-no-grow sheet-table-col-medium sheet-center">Roll</div>
      <div class="sheet-table-col sheet-table-col-no-grow sheet-table-col-large sheet-center">DMG</div>
      <div class="sheet-table-col sheet-table-col-no-grow sheet-table-col-large sheet-center">Type/Quality</div>
    </div>
      [{# weapons }]
        [{> weapon }]
      [{/ weapons}]
  </div>
</div>