<div class="sheet-descriptions sheet-rounded-border">
  <div class="sheet-table">
    <div class="sheet-table-row sheet-table-header">
      <div class="sheet-table-col sheet-col-header-empty sheet-table-col-no-grow"></div>
      <div class="sheet-table-col">Attack</div>
      <div class="sheet-table-col">Roll</div>
      <div class="sheet-table-col">DMG</div>
      <div class="sheet-table-col">Type/Quality</div>
    </div>
      [{# weapons }]
        [{> weapon }]
      [{/ weapons}]
  </div>
</div>