.sheet-center-grid {
  justify-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.sheet-box {
  width: 65px;
  height: 65px;
}

.sheet-line {
  width: 80%;
  border-bottom: 1px solid black;
  position: relative;
  top: 8%;
  left: 7px;
}

.sheet-initiative-label {
  position: relative;
  left: 5px;
}

.sheet-initiative-dice {
  position: relative;
  top: 7px;
  height: 20px;
}

.sheet-speed-value {
  top: 5px;
  position: relative;
  padding: 0;
}

.sheet-shield {
  border: 1px solid black;
  width: 70px;
  height: 75px;
  display: block;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sheet-inline-items {
  display: inline-flex;
}

.sheet-shield-title {
  text-align: center;
  border-bottom: 1px solid black;
  width: inherit;
}

.sheet-shield-title > label {
  margin-left: 0px;
  color: var(--sheet-bg-white);
}

.sheet-shield-mod {
  position: absolute;
  justify-content: center;
  text-align: center;
  display: flex;
  bottom: -10px; /* metade da altura */
  left: 0;
  height: 20px;
  width: 100%;
}

.sheet-shield-mod-input {
  text-align: right;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin-left: 9px;
  margin-top: -7px;
}


.sheet-skills-table {
  width: 100%;
  display: inline-block;
  overflow-y: auto;
}

.sheet-skills-table td {
  padding: 1px;
}

.sheet-skills-table-head th {
  background-color: var(--sheet-main-color);
  color: var(--sheet-bg-white);
}

.sheet-skills-table-head th:first-child {
  border-top-left-radius: 10px;
}

.sheet-skills-table-head th:last-child {
  border-top-right-radius: 10px;
}


.sheet-rounded-border {
  border: 1px solid black;
  border-radius: 10px;
}

.sheet-textarea {
  padding-left: 13px;
  width: 100%;
  height: 88%;
  box-sizing: border-box;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-attachment: local;
  background-image:
  linear-gradient(to right, white 10px, transparent 10px),
  linear-gradient(to left, white 10px, transparent 10px),
  repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
}

.sheet-textarea-traits {
  height: 75%;
}

.sheet-textarea-skills {
  height: 79%;
}

.sheet-textarea-rucksack {
  height: 84%;
}

.sheet-tricks > textarea {
  height: 88%;
}

.sheet-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.sheet-header, .sheet-shield-title {
  background-color: var(--sheet-main-color);
  color: var(--sheet-bg-white);
}

.sheet-header h3,
.sheet-header label {
  color: var(--sheet-bg-white);
}

.sheet-attributes > input {
  height: 80%;
}

.sheet-grid-1x3 {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 10em);
}

.sheet-grid-2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.sheet-grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
}

.sheet-grid-1x6 {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.sheet-text-small {
  font-size: 11px;
}

.sheet-text-medium {
  font-size: 20px;
}

.sheet-text-huge {
  font-size: 40px;
}

.sheet-d20-icon {
  background: var(--sheet-bg-white);
  font-family:'dicefontd20';
}


.sheet-rolltemplate-attack,
.sheet-rolltemplate-basic,
.sheet-rolltemplate-description {
  background-color: #FFF;
}

.sheet-rolltemplate-attack p,
.sheet-rolltemplate-attack h4,
.sheet-rolltemplate-basic p,
.sheet-rolltemplate-basic h4,
.sheet-rolltemplate-description p,
.sheet-rolltemplate-description h4 {
  padding-left: 5px;
  padding-top: 5px;
}

.sheet-rolltemplate-description .sheet-rollbox-container,
.sheet-rolltemplate-basic .sheet-rollbox-container,
.sheet-rolltemplate-attack .sheet-rollbox-container {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.sheet-rolltemplate-basic .sheet-rollbox-header,
.sheet-rolltemplate-description .sheet-rollbox-header,
.sheet-rolltemplate-attack .sheet-rollbox-header {
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-basic .sheet-rollbox-header h4,
.sheet-rolltemplate-attack .sheet-rollbox-header h4,
.sheet-rolltemplate-description .sheet-rollbox-header h4 {
  color: white;
  background-color: #A1887F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sheet-stripped tr:nth-child(even),
.sheet-rolltemplate-attack .sheet-stripped p:nth-child(even) {
  background-color: var(--sheet-secondary-color);
}

.sheet-stripped tr:nth-child(odd),
.sheet-rolltemplate-attack .sheet-stripped p:nth-child(odd) {
  background-color: var(--sheet-bg-white);
}
