.sheet-rolltemplate-attack,
.sheet-rolltemplate-basic,
.sheet-rolltemplate-description {
  background-color: #fff;
}

.sheet-rolltemplate-attack p,
.sheet-rolltemplate-attack h4,
.sheet-rolltemplate-basic p,
.sheet-rolltemplate-basic h4,
.sheet-rolltemplate-description p,
.sheet-rolltemplate-description h4 {
  padding-left: 5px;
  padding-top: 5px;
}

.sheet-rolltemplate-description .sheet-rollbox-container,
.sheet-rolltemplate-basic .sheet-rollbox-container,
.sheet-rolltemplate-attack .sheet-rollbox-container {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.sheet-rolltemplate-basic .sheet-rollbox-header,
.sheet-rolltemplate-description .sheet-rollbox-header,
.sheet-rolltemplate-attack .sheet-rollbox-header {
  border-bottom: 1px solid black;
}

.sheet-rolltemplate-basic .sheet-rollbox-header h4,
.sheet-rolltemplate-attack .sheet-rollbox-header h4,
.sheet-rolltemplate-description .sheet-rollbox-header h4 {
  color: white;
  background-color: var(--sheet-main-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sheet-rolltemplate-attack .sheet-stripped p:nth-child(even) {
  background-color: var(--sheet-secondary-color);
}

.sheet-rolltemplate-attack .sheet-stripped p:nth-child(odd) {
  background-color: var(--sheet-bg-white);
}
