<div class="sheet-attributes sheet-rounded-border">
  <div class="sheet-grid-1x6 sheet-center-grid">
    <div class="sheet-shield">
      <div class="sheet-shield-title">
        <label class="sheet-center">
          Str
        </label>
      </div>
      <div class="sheet-center">
        <input type="number" class="sheet-text-right sheet-input-no-border sheet-input-transparent" disabled="true" name="attr_stre_mod" value="floor((@{str}-10)/2)" />
      </div>
      <div class="sheet-shield-mod">
        <input type="number" class="sheet-shield-mod-input" name="attr_str" value="10"/>
      </div>
    </div>
    <div class="sheet-shield">
      <div class="sheet-shield-title">
        <label class="sheet-center">
          Dex
        </label>
      </div>
      <div class="sheet-center">
        <input type="number" class="sheet-text-right sheet-input-no-border sheet-input-transparent" disabled="true" name="attr_dex_mod" value="floor((@{dex}-10)/2)" />
      </div>
      <div class="sheet-shield-mod">
        <input type="number" class="sheet-shield-mod-input" name="attr_dex"/>
      </div>
    </div>
    <div class="sheet-shield">
      <div class="sheet-shield-title">
        <label class="sheet-center">
          Con
        </label>
      </div>
      <div class="sheet-center">
        <input type="number" class="sheet-text-right sheet-input-no-border sheet-input-transparent" disabled="true" name="attr_con_mod" value="floor((@{con}-10)/2)"/>
      </div>
      <div class="sheet-shield-mod">
        <input type="number" class="sheet-shield-mod-input " name="attr_con" value="10"/>
      </div>
    </div>
    <div class="sheet-shield">
      <div class="sheet-shield-title">
        <label class="sheet-center">
          Int
        </label>
      </div>
      <div class="sheet-center">
        <input type="number" class="sheet-text-right sheet-input-no-border sheet-input-transparent" disabled="true" name="attr_int_mod" value="floor((@{int}-10)/2)"/>
      </div>
      <div class="sheet-shield-mod">
        <input type="number" class="sheet-shield-mod-input" name="attr_int" value="10"/>
      </div>
    </div>
    <div class="sheet-shield">
      <div class="sheet-shield-title">
        <label class="sheet-center">
          Wis
        </label>
      </div>
      <div class="sheet-center">
        <input type="number" class="sheet-text-right sheet-input-no-border sheet-input-transparent" disabled="true" name="attr_wis_mod" value="floor((@{wis}-10)/2)"/>
      </div>
      <div class="sheet-shield-mod">
        <input type="number" class="sheet-shield-mod-input" name="attr_wis" value="10"/>
      </div>
    </div>
    <div class="sheet-shield">
      <div class="sheet-shield-title">
        <label class="sheet-center">
          Cha
        </label>
      </div>
      <div class="sheet-center">
        <input type="number" class="sheet-text-right sheet-input-no-border sheet-input-transparent" disabled="true" name="attr_cha_mod" value="floor((@{cha}-10)/2)"/>
      </div>
      <div class="sheet-shield-mod">
        <input type="number" class="sheet-shield-mod-input" name="attr_cha" value="10"/>
      </div>
    </div>
  </div>
</div>
