<div class="sheet-death-save-failure sheet-rounded-border">
  <label class="sheet-center sheet-header">Death save failure</label>
  <div class="sheet-inline-checkboxes">
    <label class="sheet-checkbox-container">
      <input type="checkbox" name="attr_death_save_failure_1">
      <span class="sheet-checkmark"></span>
    </label>
    <label class="sheet-checkbox-container">
      <input type="checkbox" name="attr_death_save_failure_2">
      <span class="sheet-checkmark"></span>
    </label>
    <label class="sheet-checkbox-container">
      <input type="checkbox" name="attr_death_save_failure_3">
      <span class="sheet-checkmark"></span>
    </label>
  </div>
</div>
