<div class="sheet-personality sheet-rounded-border">
  <h3 class="sheet-header sheet-center">Personality Traits</h3>
  <div class="sheet-grid-1x3">
    <div>
      <label class="sheet-content">
        <bold>Ideal</bold>
        - What is most important to me ...
      </label>
      <textarea class="sheet-textarea sheet-textarea-traits" name="attr_traits_ideal"></textarea>
    </div>
    <div>
      <select name="attr_personality_type">
        <option value="bond">
          <label>
            <bold>Bond</bold>
            - I am inspired by my bond to ...
          </label>
        </option>
        <option value="mystery">
          <label>
            <bold>Mystery</bold>
            - No one knows about...
          </label>
        </option>
      </select>
      <textarea class="sheet-textarea sheet-textarea-traits" name="attr_traits_personality"></textarea>
    </div>
    <div>
      <label class="sheet-content">
        <bold>Flaw</bold>
        No matter what, I just can't ...
      </label>
      <textarea class="sheet-textarea sheet-textarea-traits" name="attr_traits_flaw"></textarea>
    </div>
  </div>
</div>
