<div class="sheet-rucksack sheet-rounded-border">
  <div class="sheet-header">
    <h3 class="sheet-center"> Rucksack and equipment</h3>
  </div>
  <textarea class="sheet-textarea sheet-textarea-big sheet-textarea-rucksack" name="attr_rucksack"></textarea>
</div>
