<div class="sheet-saving-throw sheet-rounded-border">
  <h3 class="sheet-header sheet-center">Saving Throws</h3>
  <div class="sheet-grid-4x6">
    <button type="roll" class="sheet-d20-icon" value="&{template:basic}{{character=@{character_name}}}{{result=[[1d20 + @{sav_thr_str_val}]]}}"></button>
    <input type="checkbox" class="sheet-center" name="attr_sav_thr_str" value="@{prof}" />
    <input class="sheet-input-medium sheet-center sheet-input-transparent" type="number" disabled="true" name="attr_sav_thr_str_val" value="@{stre_mod}+@{sav_thr_str}" />
    <label class="sheet-center sheet-text-small">Strength</label>
    <button type="roll" class="sheet-d20-icon" value="&{template:basic}{{character=@{character_name}}}{{result=[[1d20 + @{sav_thr_dex_val}]]}}"></button>
    <input type="checkbox" class="sheet-center" name="attr_sav_thr_dex" value="@{prof}" />
    <input class="sheet-input-medium sheet-center sheet-input-transparent" type="number" disabled="true" name="attr_sav_thr_dex_val" value="@{dex_mod}+@{sav_thr_dex}" />
    <label class="sheet-center sheet-text-small">Dexterity</label>
    <button type="roll" class="sheet-d20-icon" value="&{template:basic}{{character=@{character_name}}}{{result=[[1d20 + @{sav_thr_con_val}]]}}"></button>
    <input type="checkbox" class="sheet-center" name="attr_sav_thr_con" value="@{prof}" />
    <input class="sheet-input-medium sheet-center sheet-input-transparent" type="number" disabled="true" name="attr_sav_thr_con_val" value="@{con_mod}+@{sav_thr_con}" />
    <label class="sheet-center sheet-text-small">Constitution</label>
    <button type="roll" class="sheet-d20-icon" value="&{template:basic}{{character=@{character_name}}}{{result=[[1d20 + @{sav_thr_int_val}]]}}"></button>
    <input type="checkbox" class="sheet-center" name="attr_sav_thr_int" value="@{prof}" />
    <input class="sheet-input-medium sheet-center sheet-input-transparent" type="number" disabled="true" name="attr_sav_thr_int_val" value="@{int_mod}+@{sav_thr_int}" />
    <label class="sheet-center sheet-text-small">Intelligence</label>
    <button type="roll" class="sheet-d20-icon" value="&{template:basic}{{character=@{character_name}}}{{result=[[1d20 + @{sav_thr_wis_val}]]}}"></button>
    <input type="checkbox" class="sheet-center" name="attr_sav_thr_wis" value="@{prof}" />
    <input class="sheet-input-medium sheet-center sheet-input-transparent" type="number" disabled="true" name="attr_sav_thr_wis_val" value="@{wis_mod}+@{sav_thr_wis}" />
    <label class="sheet-center sheet-text-small">Wisdom</label>
    <button type="roll" class="sheet-d20-icon" value="&{template:basic}{{character=@{character_name}}}{{result=[[1d20 + @{sav_thr_cha_val}]]}}"></button>
    <input type="checkbox" class="sheet-center" name="attr_sav_thr_cha" value="@{prof}" />
    <input class="sheet-input-medium sheet-center sheet-input-transparent" type="number" disabled="true" name="attr_sav_thr_cha_val" value="@{cha_mod}+@{sav_thr_cha}" />
    <label class="sheet-center sheet-text-small">Charisma</label>
  </div>
</div>
