<div class="sheet-saving-throw sheet-rounded-border">
  <h3 class="sheet-header sheet-center">Saving Throws</h3>
  <div class="sheet-saving-throw-component">
    [{# attributes_list }]
        [{> saving-throw }]
    [{/ attributes_list }]
  </div>
</div>
