<div class="sheet-spell-slots sheet-rounded-border">
  <h3 class="sheet-center sheet-header">Spell Slots</h3>
  <div class="sheet-grid-2x2">
    <label class="sheet-center">Current</label>
    <label class="sheet-center">Max</label>
    <div class="sheet-center">
      <input class="sheet-
      ge" type="number" name="attr_ss"/>
    </div>
    <div class="sheet-center">
      <input class="sheet-input-transparent" type="number" name="attr_ss_max" value="@{level}*2" disabled="true" />
    </div>
  </div>
</div>
