<div class="sheet-stamina-points sheet-container-100 sheet-rounded-border sheet-center">
  <label class="sheet-center sheet-header">Stamina Points</label>
  <div class="sheet-flex sheet-container-inherited">
    <div class="sheet-double-input-left">
      <input type="number" name="attr_stamina" class="sheet-input-transparent sheet-input-no-border sheet-left"/>
    </div>
    <div class="sheet-input-divider"></div>
    <div class="sheet-double-input-right">
      <input type="number"  name="attr_stamina_max" class="sheet-input-transparent sheet-input-no-border sheet-right"/>
    </div>
    <label class="sheet-current-stamina sheet-center">Current</label>
    <label class="sheet-max-stamina sheet-center">Max</label>
  </div>
</div>
