<div class="sheet-stamina-points sheet-rounded-border sheet-center">
  <label class="sheet-center sheet-header">Stamina Points</label>
  <div class="sheet-grid-2x2">
    <label class="sheet-center">Current</label>
    <label class="sheet-center">Max</label>
    <div>
      <input class="sheet-input-small" type="text" name="attr_stamina" />
    </div>
    <div>
      <input class="sheet-input-small" type="text" name="attr_stamina_max" />
    </div>
  </div>
</div>
