<div class="sheet-descriptions sheet-rounded-border">
  <table class="sheet-weapons-table">
    <thead class="sheet-weapons-table-head">
      <th class="sheet-weapons-table-description"></th>
      <th class="sheet-center sheet-weapons-table-description">Attack</th>
      <th class="sheet-center sheet-weapons-table-roll sheet-weapons-table-description">Roll</th>
      <th class="sheet-center sheet-weapons-table-dmg sheet-weapons-table-description">DMG</th>
      <th class="sheet-center sheet-weapons-table-description">Type/Quality</th>
    </thead>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_1}}}{{attackname=@{weapon_attack_1}}}{{attackroll=[[1d20+@{weapon_roll_1}]]}}{{damage=[[@{weapon_dmg_1}]]}}{{criticaldamage=[[@{weapon_dmg_1} + @{weapon_dmg_1}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_1" />
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_1"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_1"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_1"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_2}}}{{attackname=@{weapon_attack_2}}}{{attackroll=[[1d20+@{weapon_roll_2}]]}}{{damage=[[@{weapon_dmg_2}]]}}{{criticaldamage=[[@{weapon_dmg_2} + @{weapon_dmg_2}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_2"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_2"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_2"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_2"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_3}}}{{attackname=@{weapon_attack_3}}}{{attackroll=[[1d20+@{weapon_roll_3}]]}}{{damage=[[@{weapon_dmg_3}]]}}{{criticaldamage=[[@{weapon_dmg_3} + @{weapon_dmg_3}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_3"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_3"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_3"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_3"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_4}}}{{attackname=@{weapon_attack_4}}}{{attackroll=[[1d20+@{weapon_roll_4}]]}}{{damage=[[@{weapon_dmg_4}]]}}{{criticaldamage=[[@{weapon_dmg_4} + @{weapon_dmg_4}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_4"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_4"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_4"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_4"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_5}}}{{attackname=@{weapon_attack_5}}}{{attackroll=[[1d20+@{weapon_roll_5}]]}}{{damage=[[@{weapon_dmg_5}]]}}{{criticaldamage=[[@{weapon_dmg_5} + @{weapon_dmg_5}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_5"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_5"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_5"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_5"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_6}}}{{attackname=@{weapon_attack_6}}}{{attackroll=[[1d20+@{weapon_roll_6}]]}}{{damage=[[@{weapon_dmg_6}]]}}{{criticaldamage=[[@{weapon_dmg_6} + @{weapon_dmg_6}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_6"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_6"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_6"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_6"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_7}}}{{attackname=@{weapon_attack_7}}}{{attackroll=[[1d20+@{weapon_roll_7}]]}}{{damage=[[@{weapon_dmg_7}]]}}{{criticaldamage=[[@{weapon_dmg_7} + @{weapon_dmg_7}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_7"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_7"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_7"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_7"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_8}}}{{attackname=@{weapon_attack_1}}}{{attackroll=[[1d20+@{weapon_roll_8}]]}}{{damage=[[@{weapon_dmg_8}]]}}{{criticaldamage=[[@{weapon_dmg_8} + @{weapon_dmg_8}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_8"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_8"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_8"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_8"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_9}}}{{attackname=@{weapon_attack_1}}}{{attackroll=[[1d20+@{weapon_roll_9}]]}}{{damage=[[@{weapon_dmg_9}]]}}{{criticaldamage=[[@{weapon_dmg_9} + @{weapon_dmg_9}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_9"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_9"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_9"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_9"/>
      </td>
    </tr>
    <tr>
      <td class="sheet-center sheet-weapons-dice">
        <button type="roll" class="sheet-d20-icon" value="&{template:attack}{{character=@{character_name}}}{{attack_type=@{weapon_type_quality_10}}}{{attackname=@{weapon_attack_10}}}{{attackroll=[[1d20+@{weapon_roll_10}]]}}{{damage=[[@{weapon_dmg_10}]]}}{{criticaldamage=[[@{weapon_dmg_10} + @{weapon_dmg_10}]]}}"></button>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_attack_10"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="number" name="attr_weapon_roll_10"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_dmg_10"/>
      </td>
      <td>
        <input class="sheet-input-xlarge" type="text" name="attr_weapon_type_quality_10"/>
      </td>
    </tr>
  </table>
</div>
