[{> theme-css }]

[{> layout-css }]

/* Unfortunately it is not possible to iterate over list of partials, so they have to be included manually :( */

[{> table-css}]

[{> proficiency-css }]

[{> commons-css }]

[{> defense-initiative-speed-css }]

[{> heraldic-shield-css }]

[{> saving-throw-css }]

[{> death-save-failure-css }]

[{> stamina-css }]

[{> spell-slots-css }]

[{> inputs-css }]

[{> containers-css }]

[{> base-css }]
