{{=[{ }]=}}
<div class="sheet-table-col sheet-table-col-no-grow">
  <button type="roll" class="sheet-d20-icon" value="&{template:description}{{character=@{character_name}}}{{description=@{[{skill_attr}]_desc}}}{{result=[[1d20 + @{[{skill_mod_field}]} + @{[{skill_attr}]} ]]}}"></button>
  <input type="hidden" name="attr_[{ skill_attr }]_desc" value="[{ skill_description }]">
</div>
<div class="sheet-table-col sheet-table-col-no-grow">
  <input type="checkbox" name="attr_[{ skill_attr }]" value="@{prof}"/>
</div>
<div class="sheet-table-col">[{ skill_name }]</div>
<div class="sheet-table-col">[{ skill_mod }]</div>
