.sheet-table {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.sheet-table-header {
  color: var(--sheet-bg-white);
  background-color: var(--sheet-main-color);
  position: sticky;
  top: 0;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.sheet-table-row {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.sheet-table-col {
  flex: 1;
}

.sheet-table-col-no-grow {
  flex-grow: 0;
}

.sheet-table-col-small {
  min-width: 7%;
}

.sheet-table-col-medium {
  min-width: 15%;
}

.sheet-table-col-large {
  min-width: 25%;
}


.sheet-stripped .sheet-table-row:nth-child(even) {
  background-color: var(--sheet-secondary-color);
}

.sheet-stripped .sheet-table-row:nth-child(odd) {
  background-color: var(--sheet-bg-white);
}